html {
  font-size: 16px;
}
@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

p {
  font-size: 1rem;
  line-height: 120%;
}

h2 {
  font-size: 2.625rem;
  font-weight: 600;
}

h3 {
  font-size: 1.15rem;
  font-weight: 600;
}
h3 span {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 2.75rem;
  position: relative;
  min-height: 100vh;
}

.popup {
  position: absolute;
  z-index: 100;
  color: #3300d9;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 145px;
  overflow: hidden;
  border: 1px solid #3300d9;
  text-align: right;
  padding: 6px 12px;
  border-radius: 6px;
}
.popup--development {
  top: 30px;
  right: 16px;
  rotate: 20deg;
}
.popup--hover {
  top: -30px;
  left: -50px;
  rotate: -20deg;
  background-color: #f5f5f5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding: 6px 12px;
}
@media (max-width: 800px) {
  .popup {
    max-width: 120px;
  }
}

.logo {
  grid-column: 6/10;
  width: 80%;
  margin: 2rem 0;
  height: auto;
}
.logo img {
  width: 100%;
}

.wrapper {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
}
.wrapper section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
  -webkit-transition: opacity 0.3s, -webkit-filter 0.3s;
  transition: opacity 0.3s, -webkit-filter 0.3s;
  transition: opacity 0.3s, filter 0.3s;
  transition: opacity 0.3s, filter 0.3s, -webkit-filter 0.3s;
  max-width: 650px;
}
.wrapper section p {
  max-width: 50ch;
}
.wrapper section:not(:last-child) {
  padding-right: 2rem;
}
@media (hover: hover) {
  .wrapper:has(section:hover) section:not(:hover) {
    opacity: 0.5;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

.content p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.project-title {
  color: #0c0c0c;
}
.project-title:hover {
  color: #3300d9;
}

.about-me {
  position: relative;
  grid-column: 2/6;
}

.experience {
  grid-column: 6/10;
}

.contact {
  grid-column: 10/-2;
  padding-right: 0 !important;
  width: 100%;
}
.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}
.contact__links a {
  color: #0c0c0c;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (hover: hover) {
  .contact__links a:hover {
    color: #3300d9;
  }
}
.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}
.contact table tr {
  width: 100%;
}
.contact table tbody {
  width: 100%;
}
.contact table td:first-child {
  padding-right: 6px;
}
.contact table td:last-child {
  font-size: 0.9rem;
  text-align: right;
}

.language {
  position: absolute;
  grid-column: -3/-2;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 2.25rem;
}
@media (hover: hover) {
  .language:hover a {
    color: #3300d9;
  }
  .language:hover svg path {
    fill: #3300d9;
  }
}
.language a {
  text-decoration: none;
  color: #0c0c0c;
  line-height: 42px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.language svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: -20px;
}
.language svg path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

@media (max-width: 1440px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    padding: 24px;
    row-gap: 2rem;
  }
  .logo {
    grid-column: 1;
    width: 50%;
    margin: 1rem 0;
  }
  .about-me {
    grid-column: 1;
  }
  .experience {
    grid-column: 2;
  }
  .contact {
    grid-column: 3;
  }
  .language {
    padding-right: 24px;
    grid-column: 3;
  }
  .popup--hover {
    left: unset;
    right: -60px;
    rotate: -20deg;
  }
}
@media (hover: none) {
  .popup--hover {
    display: none;
  }
}
@media (max-width: 1000px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-fit-content);
    grid-template-rows: repeat(3, fit-content);
    row-gap: 2rem;
  }
  .wrapper {
    row-gap: 1.25rem;
  }
  .logo {
    width: 200px;
  }
  .about-me {
    grid-column: 1;
    grid-row: 1;
  }
  .experience {
    grid-column: 1;
    grid-row: 2;
  }
  .contact {
    grid-column: 1;
    grid-row: 3;
  }
  .contact .content {
    row-gap: 1rem;
  }
  .contact table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0.5rem;
  }
  .contact table td:last-child {
    text-align: left;
  }
  .popup--hover {
    left: unset;
    right: -60px;
    rotate: 12deg;
    top: 10px;
  }
}
@media (max-width: 600px) {
  body {
    padding: 12px;
  }
  .language {
    padding-right: 12px;
    grid-column: 3;
    bottom: 6px;
    font-size: 2rem;
  }
  .language a {
    line-height: 120%;
  }
  .language svg {
    width: 16px;
    height: 16px;
    margin-right: -8px;
  }
}/*# sourceMappingURL=style.css.map */